/* # DEBUG */

.debug,
.debug * {
  background-color: #ff000022;
  border: 2px dashed red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Edu TAS Beginner", cursive;
}

.date {
  font-family: "Sometype Mono", monospace;
}

/* # HEADER */

header {
  text-align: center;
  background-image: url(../img/wall.png);
  background-repeat: repeat;
}

.page-title {
  padding: 20px;
  font-size: 4rem;
  font-weight: bold;
}

/* # MAIN */

main {
  background-image: url(../img/cork.png);
  background-repeat: repeat;
  height: 100vh;
}

