/* # DEBUG */

.debug,
.debug * {
  background-color: #ff000022;
  border: 2px dashed red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Edu TAS Beginner", cursive;
  font-weight: bold;
}

.d-none {
  display: none;
}

.date {
  font-family: "Sometype Mono", monospace;
}

/* # HEADER */

header {
  text-align: center;
  background-image: url(../img/wall.png);
  background-repeat: repeat;
}

.page-title {
  padding: 20px;
  font-size: 4rem;
}

/* # MAIN */

main {
  background-image: url(../img/cork.png);
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#container {
  width: 1000px;
  margin: 3rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.col {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.col .card {
  width: 20rem;
  background-color: white;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 1px 2px black;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05) rotate(10deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.card:hover .pin {
  display: none;
}

.card .card-img {
  width: 100%;
}

.pin {
  width: 1.5rem;
  position: absolute;
  bottom: 95%;
  left: 50%;
  transform: translateX(-50%);
}

.overlay {
  text-align: center;
  position: relative;
  position: fixed;
  z-index: 10;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.active-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30%;
}

#close-button {
  text-align: center;
  margin-top: 60px;
  font-size: 2rem;
}

#close-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {

  #container {
    width: 800px;
  }

  .col {
    width: 49%;
  }
}